@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lista de Filmes";
}
@{
    <h2>Minha Lista de Filmes</h2>
    <p>Olá. Nosso modelo de exibição</p>
}
