@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bem vindo !!!";
}
<h2>Bem vindo !!!</h2>
<ul>
    @for (int i = 0; i < (int)ViewData["NumTiMes"]; i++)
    {
        <li> @ViewData["Msg"] - Repetição Número @ViewData["NumTiMes"] / @i</li>

    }
</ul>